root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{yml,yaml,json,graphql}]
max_line_length = 1 # prevent one-line arrays and objects
indent_size = 2
indent_style = space

[*.{scss}]
indent_size = 4
indent_style = tab

[*.md]
max_line_length = off
indent_size = 2
indent_style = space
trim_trailing_whitespace = false

[*.[jt]s]
max_line_length = 120
indent_style = tab

[*.mts]
max_line_length = 120
indent_style = tab

[*.html]
max_line_length = 120
indent_style = tab
